.general {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  background-color: black;
  display: grid;
  place-items: center;
}

.mapaCiudades {
  position: absolute;
  transition: transform 0.3s ease;
  cursor: grab;
}


.menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 30vh;
}

.city-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Evita interferencias en eventos */
}

.perfil img {
  position: absolute;
  top: 7%;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 1px black;
  transition: transform 0.3s;
}

.perfil img:hover {
  transform: scale(1.1);
}

/* Estilos de la ventana */
.ventanaPerfil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ventana-contenido {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 300px;
}

.ventana-contenido h2 {
  margin-top: 0;
}

.ventana-contenido p {
  margin: 5px 0;
}

.perfil-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.cerrar-perfil {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.controls {
  position: absolute;
  top: 35%;
  right: 30px;
  display: flex;
  gap: 10px;
}

#botonZoomIn {
  height: 35px;
  width: 35px;
  cursor: zoom-in;
  border-radius: 100%;
}

#botonZoomOut {
  height: 35px;
  width: 35px;
  cursor: zoom-out;
  border-radius: 100%;
}

.city-point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.city-info {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;/*rgba(255, 255, 255, 0.5);*/
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  width: 300px;
}

.city-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 4px;
}

.button-cerrar {
  width: 60px;
  height: 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

.button-salir {
  width: 60px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

.button-ronda {
  width: 60px;
  height: 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}

.ciudadesInfectadas{
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 50vh;
}

.vacunas-container {
  margin-top: 10px;
}

.vacunas{
  background: none; 
  border: none;
  cursor: pointer;
}
.antidotos{
display: flex;
flex-direction: row;
}
.antidoto img{
  height: 50px;
}

.vacunas img{
  height: 50px;
}
.ciudadesInfectadas{
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  width: 400px;
  height: 50vh;
}

.example-dt {
  height: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.example-dd {
  height: 30px;
  margin-bottom: 10px;
}
.virus {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.virus img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.investigaciones{
  display: inline-block;
  flex-direction: column;
  padding: 0;
  background: none;
}

.investigaciones img{
  height: 5vh;
  margin: 0;
}

