<body>
    <div class="general">
        <div class="cabecera">
            <p>Nombre</p>
            <img class="imagenPerfil" src="/images/fotoPerfil.png">
            <div class="informacion">Sobre ti:</div>
            <div class="ubicacion">Ubicacion:</div>
        </div>
        <div class="numeros">
            <div class="seguidores">Seguidores:</div>
            <div class="seguidos">Seguidos:</div>
            <div class="post">Publicaciones:</div>
        </div>
        <div class="redes">
            <button class="facebook"></button>
            <button class="twitter"></button>
            <button class="instagram"></button>
            <button class="youtube"></button>
            <button class="gitHub"></button>
        </div>
    </div>
    </body>
    