<body>
    <div class="game-profile">
        <div class="header">
          <img [src]="user.avatar" alt="Avatar" class="avatar">
          <div class="user-info">
            <h2>{{ user.username }}</h2>
            <div class="level-bar">
              <div class="level-fill" [style.width.%]="user.levelProgress"></div>
              <span>Nivel {{ user.level }}</span>
            </div>
          </div>
        </div>
  
        <div class="sections">
          <div class="section achievements">
            <h3>Logros</h3>
            <ul>
              <li *ngFor="let achievement of user.achievements">
                {{ achievement.name }}
              </li>
            </ul>
          </div>
  
          <div class="section friends">
            <h3>Amigos</h3>
            <ul>
              <li *ngFor="let friend of user.friends">
                {{ friend.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
</body>