<body >
    <div class="game-profile">
        <div class="header">
          <img [src]="usuario.avatar" alt="Avatar" class="avatar">
          <div class="user-info">
            <h2>{{usuario.nick}}</h2>
            <h4>{{usuario.nombre}}</h4>
            <div class="level-bar">
              <span>Nivel {{ usuario.nivel }}</span>
            </div>
          </div>
        </div>
  
        <div class="sections">
          <div class="section achievements">
            <h3>Logros</h3>
            <ul>
              <li *ngFor="let achievement of usuario.logros">
                {{ achievement.name }}
              </li>
            </ul>
          </div>
  
          <div class="section friends">
            <h3>Amigos</h3>
            <ul>
              <li *ngFor="let friend of usuario.colegas">
                {{ friend.name }}
              </li>
            </ul>
          </div>
          <div class="cerrar"><button (click)="cerrarSesion()">Cerrar sesion</button></div>
        </div>
        
      </div>
      <img routerLink="../" src="/images/flecha.png" class="flecha">
</body>