<div class="general">
    <form class="form" [formGroup]="miFormulario" (ngSubmit)="enviar()">
        <p class="title">Registro </p>
        <p class="message">Registrate ahora para tener acceso inmediato.</p>
        <div class="flex">
            <div class="inputForm">
                <input matInput formControlName="nombre" id="nombre" name="nombre" placeholder="Nombre" class="input" type="text">
            </div>
            

            <div class="inputForm">
                <input matInput formControlName="apellido" id="apellido" name="apellido" placeholder="Apellido" class="input" type="text">
            </div>
        </div>
        <div class="inputForm">
            <input matInput formControlName="nick" id="nick" name="nick" placeholder="Nombre de usuario" class="input" type="text">
        </div>

        <div class="inputForm">
            <input matInput formControlName="email" placeholder="Email" id="email" name="email" class="input" type="text">
        </div>

        <div class="inputForm">
            <input matInput formControlName="contraseña" placeholder="Contraseña" id="contraseña" name="contraseña" class="input" type="password">
        </div>
        
        <div class="inputForm">
            <input matInput formControlName="contraseña2" placeholder="Confirmar contraseña" id="contraseña2" name="contraseña2" class="input" type="password">
        </div>

        <div *ngIf="!pwIguales() && miFormulario.get('contraseña2')?.touched" class="error">
            Las contraseñas no coinciden
          </div>

        <button class="button-submit" type="submit">Registro</button>
        <p class="signin">Ya tienes una cuenta? <span routerLink="">Inicia Sesion</span></p>
    </form>
</div>