<div class="general">
    <form class="form">
        <p class="title">Registro </p>
        <p class="message">Registrate ahora para tener acceso inmediato.</p>
        <div class="flex">
            <label>
                <input required="" placeholder="Nombre" type="text" class="input">
            </label>

            <label>
                <input required="" placeholder="Apellido" type="text" class="input">
            </label>
        </div>

        <label>
            <input required="" placeholder="Email" type="email" class="input">
        </label>

        <label>
            <input required="" placeholder="Contraseña" type="password" class="input">
        </label>
        <label>
            <input required="" placeholder="Confirma contraseña" type="password" class="input">
        </label>
        <button class="submit" routerLink="">Registro</button>
        <p class="signin">Ya tienes una cuenta? <span routerLink="">Inicia Sesion</span></p>
    </form>
</div>