<div class="general">
    <form class="form">
        <p class="title">Registro </p>
        <p class="message">Registrate ahora para tener acceso inmediato.</p>
        <div class="flex">
            <div class="inputForm">
                <input matInput formControlName="nombre" placeholder="Nombre" class="input" type="text">
            </div>

            <div class="inputForm">
                <input matInput formControlName="apellido" placeholder="Apellido" class="input" type="text">
            </div>
        </div>

        <div class="inputForm">
            <input matInput formControlName="email" placeholder="Email" class="input" type="text">
        </div>

        <div class="inputForm">
            <input matInput formControlName="contraseña" placeholder="Contraseña" class="input" type="password">
        </div>
        <div class="inputForm">
            <input matInput formControlName="contraseña" placeholder="Confirmar contraseña" class="input" type="password">
        </div>
        <button class="button-submit" routerLink="">Registro</button>
        <p class="signin">Ya tienes una cuenta? <span routerLink="">Inicia Sesion</span></p>
    </form>
</div>