<body>

    <div class="menu">
        <div class="menu-header">Informacion del juego</div>
        <ul>
            <li><a href="regla1">Personajes</a></li>
            <li><a href="regla2">Niveles de dificultad</a></li>
            <li><a href="regla3">Ciudades</a></li>
            <li><a href="regla3">Virus</a></li>
            <li><a href="regla3">Turnos</a></li>
            <li><a href="regla3">Tienda</a></li>
            <li><a href="regla3">Como terminar la partida</a></li>
            <li><a routerLink="autores">Autores</a></li>
        </ul>
    </div>

</body>
