/* Estilo del contenedor del mapa */
.map-container {
  position: relative;
  width: 100%;
  height: 100vh;  /* Ajusta esto según el tamaño de tu mapa */
  background-color: #f0f0f0;
}

/* Imagen del mapa */
.map-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
}

/* Puntos de las ciudades */
.city-point {
  position: absolute;
  width: 10px;  /* Tamaño del punto */
  height: 10px;
  background-color: red;  /* Color del punto */
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.city-point:hover {
  transform: scale(1.5);
}

/* Cuadro de información de la ciudad */
.city-info {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
}

.city-info h2 {
  margin-top: 0;
}

.city-info ul {
  list-style: none;
  padding-left: 0;
}

.city-info button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.city-info button:hover {
  background-color: #ff4500;
}
