.general {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-image: url(/images/fotoMenuPrincipal.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    display: flex;
    flex-direction: column;
    width: 35vh;
    background-color: #000000b3;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
    padding: 25px;
    position: absolute;
    top: 40%;
}

.tituloMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(232, 232, 232);
}

.value {
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 20px;
    margin: 2px;
} 

.value img {
    position: relative;
    height: 30px; 
    object-fit: contain;
    filter: invert(1);
}

#img1 {
    width: 56px;
    transform: scale(1); 
}

#img2 {
    transform: scale(1.4); 
}

#img3 {
    transform: scale(1);
}

#img4 {
    transform: scale(1.8);
}

.value:hover {
    background-color: #20262b;
}