<div class="general">
    <div class="input">
        <button class="value">
            <img src="/images/fotoPartida.png" id="img1">
            Partida
        </button>
        <button class="value">
            <img src="/images/fotoPerfil.png" id="img2">
            Perfil
        </button>
        <button class="value">
            <img src="/images/fotoInfo.png" id="img1">
            Informacion
        </button>
        <button class="value">
            <img src="/images/fotoVersion.png" id="img1">
            Version
        </button>
    </div>
</div>