<div class="general">
    <div class="title">
        <h3>Escoge tu Personaje</h3>
        <h4>Recuerda que cada uno te ayudará a su manera, asique escoge bien</h4>
    </div>
    <div class="personajes-container">
        <button class="personaje" id="p1" routerLink="../elegirPartida">
            <img src="/images/personajeMago.png">
        </button>
        <button class="personaje" id="p2" routerLink="../elegirPartida">
            <img src="/images/personajeLadron.png">
        </button>
        <button class="personaje" id="p3" routerLink="../elegirPartida">
            <img src="/images/personajeGuerrero.png">
        </button>
        <button class="personaje" id="p4" routerLink="../elegirPartida">
            <img src="/images/personajeCurandero.png">
        </button>
    </div>
</div>
